/* Add some global styles here! */

body {
  background-color: #7f5c34;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-color: #f17487;
  outline-color: #F7AEB9;
  scrollbar-color: #F7AEB9;
  column-rule-color: #F7AEB9;
}

:root {
  --red: #6D392E;
  --base-bg: #d3b592;
}

button.btn-small {
  font-size: 80%;
  color: white;
  background-color: #B8874F
}

button.pure-button-primary {
  background-color: #ee445e;
  border-color: #ee445e;
  border-width: 0.5em;
  border-style: none;
}

button.btn-small-pink {
  font-size: 80%;
  color: white;
  background-color: #ee445e;
  height: 25px;
  border-style: none;
}

button.button-error {
  color: white;
  background: var(--red);
}

a.button {
  color: white;
  background-color: #F7AEB9;
  border: 1px solid #f17487;
  border-radius: 0.25em;
  padding: 0.375em 0.75em;
  text-decoration: none;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

