

.toast {
  position: fixed;
  top: 1em;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 0.5em 1em;
  border-radius: 6px;
  max-width: 60em;
  margin: 0 auto;

  
}

.error {
  background-color: #6D392E;
  color: #e2f0db;
}
.success {
  background-color: #b5daa4;
  color: #6D392E;
}